$headerHeight: 100px;
$footerHeight: 100px;

.header {
  background-color: hsla(120, 50%, 80%, 1);
  height: $headerHeight;
}

.main {
  min-height: calc(var(--height, 100vh) - $headerHeight - $footerHeight);
}

.footer {
  background-color: hsla(220, 50%, 80%, 1);
  height: $footerHeight;
}
